body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #393838;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #595959;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    color: #eaeaea;
}

h2 {
    color: #c0c0c0;
}

a {
    color: #4c9df4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
